* {
    transition: all 0s;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f0f0ff;
}

td {
    border: rgba(0, 0, 0, 0.2) solid 1px;
}

.contenedor-botones {
    position: fixed;
    top: 10px;
    left: 10px;
}

.btn {
    cursor: pointer;
    background: skyblue;
    display: inline block;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: black;
    color: white;
}
