
* {
    transition: all 0s;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f0f0ff;
    margin: 0;
    padding: 0;
}

/* Estilos de la tabla */
td {
    border: rgba(0, 0, 0, 0.2) solid 1px;
}

/* Estilos del contenedor de botones */
.contenedor-botones {
    position: fixed;
    top: 10px;
    left: 10px;
}

/* Estilos de los botones */
.btn {
    cursor: pointer;
    background: skyblue;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: black;
    color: white;
}

/* Estilos del header */
header {
    width: 100%;
    background-color: #2a4e97;
    color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nombre-juego {
    
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: rgb(135, 167, 142);
    text-shadow: rgba(1, 40, 8, 0.95) 2px 2px 2px;

}

.logo {
    flex-shrink: 0;
    /* Evitar que el logo se reduzca */
    padding-left: 20px;
    box-sizing: border-box;
}

.logo img {
    width: 80%;
    height: 80%;
}

/* Estilos del contenedor del juego */
#contenedor-juego {
    position: fixed;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
    height: 78%;
    overflow: hidden;
}

/* Estilos del contenedor del tablero */
#contenedor-tablero {
    width: 100%;
    height: 100%;
    overflow: auto;
}
footer {
    background-color: #a0a0a0;
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
}
